.header {
    width: 100%;
    position:fixed;
}

.header-util-div {
    margin-top: 1.4rem;
}

.header-profile-picture {
    width: 2.58rem;
    height: 2.58rem;
    background-image: url("/assets/img/teste.jpg");
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
}

.header-icon-left {
    margin-left: 2rem;
}

.header-icon-right {
    margin-left: 1rem;
}

.header-dropdow-menu {
    position: fixed;
    right: 1rem;
    top: 4.5rem;
    width: 21rem;
    padding: 0rem 1rem;
    border-radius: 2rem;
    background-color: var(--cor-fundo-resalto);
    z-index: 2;
}

.header-dropdow-menu .header-dropdow-menu-li-element {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.header-dropdow-menu-li-element:hover {
    background-color: var(--cor-fundo);
}


.header-dropdow-menu-profile-picture {
    width: 4rem;
    height: 4rem;
    background-image: url("/assets/img/teste.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 1rem 0 0;
}

.header-dropdow-menu li .icon {
    margin: 0 1rem;
}
.user{
    padding-top: 0.4rem;
    line-height: 1.4rem;
}

.at-user {
    font-size: 0.9rem;
    font-weight: bold;
}