
header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    margin-top: 7rem;
    margin-bottom: 2rem;
    width: 40rem;
    font-size: 1rem;
    background-color: var(--cor-search-bar);
    border-radius: 1rem;
    border: 0;
    padding: 0.5rem;
    color: var(--cor-text);
    font-family: "fontello", sans-serif;
    
}