@import "_colors.css";
@import "_footer.css";
@import "_search-bar.css";
@import "_icon.css";

body {
    background-color: var(--cor-fundo);
    font: 1.2em/1.62 sans-serif;
    color: var(--cor-text);
}

main {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;

}

