/* componentes css*/
@import "./_colors.css";
@import "./_footer.css";
@import "./_search-bar.css";
@import "./_icon.css";
@import "./_utill.css";
@import "./_card-list.css";
@import "./_header.css";


/* paginas css*/
@import "home.css";
@import "livro-pagina.css";

* {
    box-sizing: border-box;
}
  
body {
    font: 1.2em/1.62 "fontello", sans-serif;
    color: var(--cor-text);
    padding: 0;
    margin: 0;
}

.main {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 .62em;
    position: relative;
    z-index: 1;
}

.default-backgroud-color {
    background-color: var(--cor-fundo);
}

.section {
    padding: 1rem 0 2.66rem;
}

i {
    font-style: normal;
}